/* Top Section */
#topSection {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;

}

pre {
    border: 1px solid #1c1c1c;
    font-size: 1.5rem;
    background-color: #e8e8e8;
    overflow: hidden;
}

h1 {
    color:#1c1c1c ;
    font-size: 2rem;
}

/* TODO finish later */
#explanationSection {
    display: none;
}

.fullscreen-option{
    position: absolute;
    right:10% ;
    margin-top: 2%;
    background: url('../images/expandWhite.png') no-repeat center center;
    background-size: auto 100%;
    width: 3em;
    height: 3em;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    z-index: 10;
}

#topSection button {
    padding: 10px 20px;
    font-size: 16px;
}

#topSection h2 {
    margin: 0;
    text-align: center;
    font-size: 24px;
}

/* Shader and Explanation Section */
#shaderAndExplanation {
    display: flex;
    flex-direction: column;
}

#explanation {
    grid-column: span 2;
}

#titleSection {
    flex-basis: 70%;
}

.compartement {
    display: flex;
    flex-direction: column;
}

#presentingShader {
    height: 40vw;
}


pre {
    overflow-x: auto;
}

pre code {
    padding: 1em;
    overflow-x: auto;
    border-radius: 5px;
    font-family: monospace;
    max-height: 400px;
    max-width: 90vw;
    box-sizing: border-box;
}

canvas:fullscreen {
    visibility:visible;
}

body:has(canvas:fullscreen) {
    background-color: black;
    visibility: hidden;
}


/* Mobile Responsive Layout */
@media (max-width: 768px) {
    #shaderAndExplanation {
        grid-template-columns: 1fr;
    }

    #topSection {
        display:flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    #topSection button {
        margin-top: 10px;
        width: 100%;
    }

    #presentingShader {
        height: 250px;
    }
}