:root {
    --primary-red: #BA0101;
    --shadow-red: #ba01016f;
    --primary-blue: #0752CF;
    --h1-blue: #5f86c8;
    --background-color: aliceblue;
    --text-color: #333333;
    --accent-color: #0752CF;
    --border-color: #E0E0E0;
    --font-family: 'Arial', sans-serif;
    --font-size-base: 16px;
    --line-height: 1.6;

    --padding: 16px;
    --margin: 16px;
}


nav {
    background-color: #1c1c1c;

    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

nav a {
    flex: 1;

    color: #f0f0f0;

    text-decoration: none;
    font-weight: bold;
    padding: 1em;
    text-align: center;

    transition: background-color 0.3s, color 0.3s;

    border-left: 1px solid #333;

    border-right: 1px solid #333;
}

nav a:hover {
    color: #1c1c1c;
    background-color: #f0f0f0;
}

nav a:active {
    color: #f0f0f0;
    background-color: #333333;
}

nav a:first-child {
    border-left: none;
}

nav a:last-child {
    border-right: none;
}


body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: var(--line-height);
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0px;
}

nav {
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

nav a {
    flex: 1;
    color: #f0f0f0;
    text-decoration: none;
    font-weight: bold;
    padding: 1em;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

nav a:hover {
    color: #1c1c1c;
    background-color: #f0f0f0;
}

nav a:active {
    color: #f0f0f0;
    background-color: #333333;
}

nav a:first-child {
    border-left: none;
}

nav a:last-child {
    border-right: none;
}


footer {
    background-color: #1c1c1c34;
    color: #f0f0f0;
    padding: 1.5em;
    text-align: center;
    font-size: 0.9em;
}

footer p {
    margin: 0;
    padding: 0.5em 0;
    font-weight: bold;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.social-links a {
    color: inherit;
    text-decoration: none;
    transition: transform 0.3s;
}

.social-links a:hover {
    transform: scale(1.2);
}


.social-links i {
    font-size: 24px;
    transition: transform 0.3s;
}

.social-links i:hover {
    transform: scale(1.2);
}

a {
    color: var(--primary-blue);
    text-decoration: none;
}

a:hover {
    color: var(--accent-color);
}



header {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 90%;
}

header h1 {
    text-align: center;
    position: relative;
    font-size: 4.5em;
    font-family: Kanit;
    z-index: 1;
    color: var(--h1-blue);
    -webkit-text-stroke: 1px var(--primary-red);
}

h3 {
    margin: 0px;
}

main,
footer {
    position: relative;
}

#header-canvas,
#main-canvas,
#footer-canvas {
    border-radius: 0px;
    position: absolute;
    z-index: -1 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.shader-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    gap: 30px;
    padding: 50px;
}

.painter-shader-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
    padding: 20px;
}

header h1 {
    position: relative;
    z-index: 1;
}

#header-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.shader-item {
    background-color: #ffffff;
    box-shadow: 4px -2px 7px 6px rgba(1, 1, 1, 0.6);
    padding: 5px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.4s ease;
    border: rgba(1, 1, 1, 0.0) 3px dashed;
    text-align: center;
    font-size: 1.2em;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 1;
    max-height: 100vh;
}

.shader-item h2 {
    height: 20%;
}

.shader-item:hover {
    box-shadow: 4px 2px 6px 6px var(--shadow-red);
    border: var(--primary-blue) 3px dashed;
    text-decoration: underline;
    cursor: pointer;
}

canvas {
    width: 99%;
    border-radius: 10px;
    height: 99%;
    display: block;
}

.painter-canvas {
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 0px;
}


.pagination-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
}

.pagination-controls button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-controls button:hover {
    background-color: #0056b3;
}

.pagination-controls button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}



.header-icon,
.main-icon,
.footer-icon {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
}

button:hover {
    border: var(--primary-blue) 3px dashed;
}

.header-icon {
    background-image: url('../images/cards/header.webp');
}

.main-icon {
    background-image: url('../images/cards/main.webp');
}

.footer-icon {
    background-image: url('../images/cards/footer.webp');
}

.fullscreen-btn {
    background: url('../images/expand.png') no-repeat center center;
    background-size: auto 100%;
    width: 3em;
    height: 3em;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    z-index: 10;
}

.fullscreen-btn:hover {
    background-color: rgba(1, 1, 1, 0.2);
    border: none;
}


@media (width < 600px) {
    h1 {
        font-size: 55px !important;
    }

    .painter-shader-grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 500px));

    }

}